@{
    var articulo = ViewBag.ArticuloRender as ServidorASP.Models.Articulo;
    string absoluteUrl = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}";
    var autores = articulo.ArticuloAutors;

    var nombresAutores = autores.Select(author => author.Autores.NombreAutor);
    var autoresConcatenados = string.Join(", ", nombresAutores);
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="description" content="@articulo.Descripcion">
    <meta name="keywords" content="@articulo.Tags">
    <link rel="apple-touch-icon" href="~/media/@articulo.Image">
    <link rel="icon" href="~/media/@articulo.Image">
    <link rel="stylesheet" href="~/Blog/css/scroll.css">

    <!--Formato para articulo en redes sociales-->
    <meta property="og:title" content="@articulo.Titulo" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="@absoluteUrl" />
    <meta property="og:image" content="https://estuardodev.com/media/@articulo.Image" />
    <meta property="og:description" content="@articulo.Descripcion" />

    <meta name="author" content="@autoresConcatenados">

    <meta property="og:image:type" content="image/webp">
    <meta property="article:published_time" content="{{articulo.fecha_hora_creacion|date:'c'}}">
    <meta property="article:publisher" content="https://twitter.com/estuardodev">
    <meta property="og:site_name" content="estuardodev">
    <meta property="og:locale" content="es_GT">
    <meta property="og:title" content="@articulo.Titulo">
    <meta property="og:description" content="@articulo.Descripcion">

    <!-- Formato para artículo en redes sociales (Twitter) -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="estuardodev">
    <meta name="twitter:site" content="estuardodev">
    <meta name="twitter:label1" content="Autor">

    <meta name="twitter:data1" content="@autoresConcatenados">

    <meta name="twitter:label2" content="Tiempo estimado de lectura">
    <meta name="twitter:data2" content="@articulo.CalcularTiempoLectura() Minuto@(articulo.CalcularTiempoLectura() != 1 ? "s" : "")">

    <title>@articulo.Titulo</title>

    <link rel="stylesheet" href="~/Blog/css/new_style.css">
    <link rel="stylesheet" href="~/Blog/css/block_tail.css">


    <!--Flowbite-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
</head>
<body>
    
    @RenderBody()

    <!--Scripts-->
    <script src="~/Blog/js/share.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/Blog/js/like_post.js"></script>
    <script src="~/Blog/js/modo_oscuro.js"></script>
    <script src="~/Blog/js/cookies.js"></script>
    <script src="~/Blog/js/alert.js"></script>
    <script src="https://kit.fontawesome.com/355c95106c.js" crossorigin="anonymous"></script>
    <script>
        initializeCookieAlert();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</body>
</html>