@{
    var articulo = ViewBag.ArticuloRender as ServidorASP.Models.Articulo;
    string absoluteUrl = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}";
    
}

<div class="container mx-auto">
    <div class="container text-center">
        <div class="flex flex-col sm:flex-row">
            <div class="w-full sm:w-5/12 md:w-6/12 mb-4 sm:mb-0">

                @foreach(var autor in articulo.ArticuloAutors)
                {
                <p class="text-base text-gray-800 dark:text-white"><i class="fas fa-user"></i> Autor: @autor.Autores.NombreAutor</p>
                }

            </div>
            <div class="w-full sm:w-7/12 md:w-6/12">
                <div class="flex justify-center items-center space-x-4 overflow-x-auto">

                    <a href="#" onclick="compartirArticulo(@articulo.Id, 'https://twitter.com/intent/tweet?url=@absoluteUrl&text=estuardodev%27&via=estuardodev%22'); return false;" target="_blank" rel="noopener" class="compartir-button text-blue-500"><i class="fab fa-twitter text-2xl"></i></a>

                    <a href="#" onclick="compartirArticulo(@articulo.Id, 'https://www.facebook.com/sharer/sharer.php?u=@absoluteUrl'); return false;" target="_blank" rel="noopener" class="text-blue-600 compartir-button"><i class="fab fa-facebook text-2xl"></i></a>

                    <a href="#" onclick="compartirArticulo(@articulo.Id, 'https://www.linkedin.com/shareArticle?mini=true&url=@absoluteUrl&title=@articulo.Titulo&summary=@articulo.Descripcion&source=@absoluteUrl'); return false;" target="_blank" rel="noopener" class="text-blue-700 compartir-button"><i class="fab fa-linkedin text-2xl"></i></a>

                    <a href="#" onclick="compartirArticulo(@articulo.Id, 'https://www.reddit.com/submit?url=@absoluteUrl&title=@articulo.Titulo'); return false;" target="_blank" rel="noopener" class="text-red-500 compartir-button"><i class="fab fa-reddit text-2xl"></i></a>

                    <a href="#" onclick="compartirArticulo(@articulo.Id, 'https://wa.me/?text=@absoluteUrl'); return false;" target="_blank" rel="noopener" class="text-green-500 compartir-button"><i class="fab fa-whatsapp text-2xl"></i></a>

                    <a href="#" onclick="compartirArticulo(@articulo.Id, 'https://telegram.me/share/url?url=@absoluteUrl&text=@articulo.Titulo'); return false;" target="_blank" rel="noopener" class="text-blue-500 compartir-button"><i class="fab fa-telegram text-2xl"></i></a>

                    <a href="https://estuardodev.com/feed" target="_blank" rel="noopener" class="text-yellow-500 compartir-button"><i class="fas fa-rss text-2xl"></i></a>

                    <a href="https://news.google.com/publications/CAAqBwgKMOyVxgswj7HdAw?hl=es-419&gl=US&ceid=US:es-419" target="_blank" rel="noopener" class="text-red-500 compartir-button"><i class="fas fa-newspaper text-2xl"></i></a>

                </div>
                <br>
                <div class="flex items-center justify-center space-x-4 overflow-x-auto">
                    <div class="flex items-center space-y-1 md:space-y-0 md:space-x-2">
                        <p class="bg-yellow-100 text-yellow-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300">🔄 @articulo.Compartidos Compartido@(@articulo.Compartidos == 1 ? "" : "s")</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
